// Colors
$dark-cyan: hsl(185, 75%, 39%);
$dark-blue: hsl(229, 23%, 23%);
$light-blue: hsl(227, 10%, 46%);
$gray: hsl(0, 0%, 59%);

// Font-sizes
$text-regular: 18px;

// Widths
$mobile-max-width: 327px;
$desktop-max-width: 1440px;
